# Configuration file for ImageJ plugin "Binary_Morphology"
#
# comments starts with #
# Each entry is menuname, "Command text", classname

Plugins>Morphology, "Binary Morphology", net.ijt.binary.plugins.BinaryMorphologicalFilterPlugin
Plugins>Morphology, "Binary Morphology 3D", net.ijt.binary.plugins.BinaryMorphologicalFilter3DPlugin
